<mat-toolbar>
  <span>My Application</span>
</mat-toolbar>

{{store.test6}}
{{store.test3 | async}}
<div *ngIf="(store.test3 | async) as test3">
  {{test3}}
</div>


<form [formGroup]="formGroup1" (ngSubmit)="onSubmit(formGroup1.value)" class="forms-container">
  <mat-form-field>
    <mat-label>Input</mat-label>
    <input formControlName="input1" matInput>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Select</mat-label>
    <mat-select formControlName="inputSelect">
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Textarea</mat-label>
    <textarea formControlName="inputText" matInput></textarea>
  </mat-form-field>
  <button [disabled]="!formGroup1.valid" type="submit" mat-raised-button>Отправить</button>
  <button (click)="test()" [disabled]="!formGroup1.valid" mat-raised-button>Отправить тестовая</button>
</form>
